card {
 border-radius: 156px 225px 400px 400px;
 width: 275px;
 height: 10px;
 font-family: "Comfortaa", Helvetica, Verdana;
 text-align: initial;
 padding: 5px;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 display: inline-block;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}
.card-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
card:hover {
  color: rgba(5, 5, 5, 0.74);
  background-color: linear-gradient(rgb(62, 126, 190), white)
}
.card-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.card-content a:hover {background-color: #f1f1f1}

card:hover .card-content {
  display: block;
}

card:active .dropbtn {
  background-color: #43afee;
}
.dropbtn {
  background-color: linear-gradient(rgb(79, 129, 238), white);
  color: rgb(113, 181, 236);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
slbtn {
   background-color: #43afee;
  border: none;
  textcolor: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
hr {
 background-color: #43afee;
 border-radius: 25px;
}
